@page
@using SimpleTaskManager.ViewModels;
@using SimpleTaskManager.Enums

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">


        <a asp-page="/CreatePage" class="btn btn-primary" style="margin-top:10px; margin-bottom:10px">Create</a>
        <table class="table table-sm table-bordered table-striped">
            <thead class="green-gray lighten-4">
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Timestamp</th>
                    <th>Total created</th>
                    <th>Total updates</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.TasksList != null && Model.TasksList.Any())
            {
                foreach (var task in Model.TasksList)
                {
                    <tr>
                        <td>@task.TaskName</td>
                        <td>@task.TaskStatus</td>
                        <td>@task.LastModified</td>
                        <td>@task.NrOfTimesTaskCreated</td>
                    <td>@task.NrOfTimesTaskUpdated</td>
                <td><a asp-page="/EditPage" asp-route-id="@task.Id">Edit</a> </td>
            </tr>
    }
}

            </tbody>
        </table>
    </div>
</form>